/* You can add global styles to this file, and also import other style files */
$primary-color: #ffffff;
$secondary-color: #5988ff;
$speachbubble: #f2f6ff;
$disabled-color: #bbbbbb;
$button-hover-color: #d4e0ff;

$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'speachbubble': $speachbubble,
  'disabled': $disabled-color,
  'button-hover': $button-hover-color,
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: $primary-color;
}

@font-face {
    font-family: 'Baloo';
    src: url('/assets/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

$font-family-1: 'Baloo', sans-serif;
$font-family-2: 'Montserrat', sans-serif;

html, body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
    // color: $primary-color;
    font-family: $font-family-1;
    overflow-x: hidden;
}  