.open-requests-section,
.in-progress-requests-section,
.closed-requests-section {
    margin-bottom: 2rem;
}

.open-requests-list,
.in-progress-requests-list,
.closed-requests-list {
    list-style-type: none;
    padding: 0;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    overflow-y: auto;
}

.open-request-item,
.in-progress-request-item,
.closed-request-item {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.priority-high {
  background-color: #ffdddd;
  border-left: 5px solid red;
}

.priority-medium {
  background-color: #fff3cd;
  border-left: 5px solid orange;
}

.priority-low {
  background-color: #ddffdd;
  border-left: 5px solid green;
}
